In [1]:
using Pkg

In [2]:
Pkg.activate(".")

 Activating environment at `C:\Users\Gladwell\Documents\GitHub\AIG\AIG_Assignment_1\Project.toml`

In [3]:
Pkg.instantiate

instantiate (generic function with 2 methods)

In [4]:
]

In [6]:
Pkg.instantiate()

In [8]:
Pkg.add("DataFrames")
Pkg.add("CSV")

  Resolving package versions...
   Updating `C:\Users\Gladwell\Documents\GitHub\AIG\AIG_Assignment_1\Project.toml`
 [no changes]
   Updating `C:\Users\Gladwell\Documents\GitHub\AIG\AIG_Assignment_1\Manifest.toml`
 [no changes]
  Resolving package versions...
   Updating `C:\Users\Gladwell\Documents\GitHub\AIG\AIG_Assignment_1\Project.toml`
 [no changes]
   Updating `C:\Users\Gladwell\Documents\GitHub\AIG\AIG_Assignment_1\Manifest.toml`
 [no changes]

In [9]:
using CSV
using DataFrames

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1260

In [10]:
#readlines("bank-additional-full.csv")

CSV.read("bank-additional-full.csv")

41188×21 DataFrame. Omitted printing of 16 columns
│ Row   │ age   │ job         │ marital  │ education           │ default │
│       │ Int64 │ String      │ String   │ String              │ String  │
├───────┼───────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1     │ 56    │ housemaid   │ married  │ basic.4y            │ no      │
│ 2     │ 57    │ services    │ married  │ high.school         │ unknown │
│ 3     │ 37    │ services    │ married  │ high.school         │ no      │
│ 4     │ 40    │ admin.      │ married  │ basic.6y            │ no      │
│ 5     │ 56    │ services    │ married  │ high.school         │ no      │
│ 6     │ 45    │ services    │ married  │ basic.9y            │ unknown │
│ 7     │ 59    │ admin.      │ married  │ professional.course │ no      │
│ 8     │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 9     │ 24    │ technician  │ single   │ professional.course │ no      │
│ 10    │ 25    │ services    │ single   │ high.school         │ no      │
⋮
│ 41178 │ 57    │ retired     │ married  │ professional.course │ no      │
│ 41179 │ 62    │ retired     │ married  │ university.degree   │ no      │
│ 41180 │ 64    │ retired     │ divorced │ professional.course │ no      │
│ 41181 │ 36    │ admin.      │ married  │ university.degree   │ no      │
│ 41182 │ 37    │ admin.      │ married  │ university.degree   │ no      │
│ 41183 │ 29    │ unemployed  │ single   │ basic.4y            │ no      │
│ 41184 │ 73    │ retired     │ married  │ professional.course │ no      │
│ 41185 │ 46    │ blue-collar │ married  │ professional.course │ no      │
│ 41186 │ 56    │ retired     │ married  │ university.degree   │ no      │
│ 41187 │ 44    │ technician  │ married  │ professional.course │ no      │
│ 41188 │ 74    │ retired     │ married  │ professional.course │ no      │

In [11]:
readlines("bank-additional-full.csv")

41189-element Array{String,1}:
 "\"age\";\"job\";\"marital\";\"education\";\"default\";\"housing\";\"loan\";\"contact\";\"month\";\"day_of_week\";\"duration\";\"campaign\";\"pdays\";\"previous\";\"poutcome\";\"emp.var.rate\";\"cons.price.idx\";\"cons.conf.idx\";\"euribor3m\";\"nr.employed\";\"y\""
 "56;\"housemaid\";\"married\";\"basic.4y\";\"no\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";261;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "57;\"services\";\"married\";\"high.school\";\"unknown\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";149;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "37;\"services\";\"married\";\"high.school\";\"no\";\"yes\";\"no\";\"telephone\";\"may\";\"mon\";226;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "40;\"admin.\";\"married\";\"basic.6y\";\"no\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";151;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "56;\"services\";\"married\";\"high.school\";\"no\";\"no\";\"yes\";\"telephone\";\"may\";\"mon\";307;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "45;\"services\";\"married\";\"basic.9y\";\"unknown\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";198;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "59;\"admin.\";\"married\";\"professional.course\";\"no\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";139;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "41;\"blue-collar\";\"married\";\"unknown\";\"unknown\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";217;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "24;\"technician\";\"single\";\"professional.course\";\"no\";\"yes\";\"no\";\"telephone\";\"may\";\"mon\";380;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "25;\"services\";\"single\";\"high.school\";\"no\";\"yes\";\"no\";\"telephone\";\"may\";\"mon\";50;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "41;\"blue-collar\";\"married\";\"unknown\";\"unknown\";\"no\";\"no\";\"telephone\";\"may\";\"mon\";55;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 "25;\"services\";\"single\";\"high.school\";\"no\";\"yes\";\"no\";\"telephone\";\"may\";\"mon\";222;1;999;0;\"nonexistent\";1.1;93.994;-36.4;4.857;5191;\"no\""
 ⋮
 "38;\"housemaid\";\"divorced\";\"high.school\";\"no\";\"yes\";\"yes\";\"cellular\";\"nov\";\"thu\";360;1;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.031;4963.6;\"no\""
 "57;\"retired\";\"married\";\"professional.course\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"thu\";124;6;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.031;4963.6;\"no\""
 "62;\"retired\";\"married\";\"university.degree\";\"no\";\"no\";\"no\";\"cellular\";\"nov\";\"thu\";483;2;6;3;\"success\";-1.1;94.767;-50.8;1.031;4963.6;\"yes\""
 "64;\"retired\";\"divorced\";\"professional.course\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";151;3;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""
 "36;\"admin.\";\"married\";\"university.degree\";\"no\";\"no\";\"no\";\"cellular\";\"nov\";\"fri\";254;2;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""
 "37;\"admin.\";\"married\";\"university.degree\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";281;1;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"yes\""
 "29;\"unemployed\";\"single\";\"basic.4y\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";112;1;9;1;\"success\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""
 "73;\"retired\";\"married\";\"professional.course\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";334;1;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"yes\""
 "46;\"blue-collar\";\"married\";\"professional.course\";\"no\";\"no\";\"no\";\"cellular\";\"nov\";\"fri\";383;1;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""
 "56;\"retired\";\"married\";\"university.degree\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";189;2;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""
 "44;\"technician\";\"married\";\"professional.course\";\"no\";\"no\";\"no\";\"cellular\";\"nov\";\"fri\";442;1;999;0;\"nonexistent\";-1.1;94.767;-50.8;1.028;4963.6;\"yes\""
 "74;\"retired\";\"married\";\"professional.course\";\"no\";\"yes\";\"no\";\"cellular\";\"nov\";\"fri\";239;3;999;1;\"failure\";-1.1;94.767;-50.8;1.028;4963.6;\"no\""

In [15]:
#Create a DataFrame by passing '|> DataFrames' to convert the CSV to a dataFrame
df = CSV.read("bank-additional-full.csv") |> DataFrame

41188×21 DataFrame. Omitted printing of 16 columns
│ Row   │ age   │ job         │ marital  │ education           │ default │
│       │ Int64 │ String      │ String   │ String              │ String  │
├───────┼───────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1     │ 56    │ housemaid   │ married  │ basic.4y            │ no      │
│ 2     │ 57    │ services    │ married  │ high.school         │ unknown │
│ 3     │ 37    │ services    │ married  │ high.school         │ no      │
│ 4     │ 40    │ admin.      │ married  │ basic.6y            │ no      │
│ 5     │ 56    │ services    │ married  │ high.school         │ no      │
│ 6     │ 45    │ services    │ married  │ basic.9y            │ unknown │
│ 7     │ 59    │ admin.      │ married  │ professional.course │ no      │
│ 8     │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 9     │ 24    │ technician  │ single   │ professional.course │ no      │
│ 10    │ 25    │ services    │ single   │ high.school         │ no      │
⋮
│ 41178 │ 57    │ retired     │ married  │ professional.course │ no      │
│ 41179 │ 62    │ retired     │ married  │ university.degree   │ no      │
│ 41180 │ 64    │ retired     │ divorced │ professional.course │ no      │
│ 41181 │ 36    │ admin.      │ married  │ university.degree   │ no      │
│ 41182 │ 37    │ admin.      │ married  │ university.degree   │ no      │
│ 41183 │ 29    │ unemployed  │ single   │ basic.4y            │ no      │
│ 41184 │ 73    │ retired     │ married  │ professional.course │ no      │
│ 41185 │ 46    │ blue-collar │ married  │ professional.course │ no      │
│ 41186 │ 56    │ retired     │ married  │ university.degree   │ no      │
│ 41187 │ 44    │ technician  │ married  │ professional.course │ no      │
│ 41188 │ 74    │ retired     │ married  │ professional.course │ no      │

In [19]:
describe(df)

21×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable       │ mean      │ min      │ median │ max       │ nunique │
│     │ Symbol         │ Union…    │ Any      │ Union… │ Any       │ Union…  │
├─────┼────────────────┼───────────┼──────────┼────────┼───────────┼─────────┤
│ 1   │ age            │ 40.0241   │ 17       │ 38.0   │ 98        │         │
│ 2   │ job            │           │ admin.   │        │ unknown   │ 12      │
│ 3   │ marital        │           │ divorced │        │ unknown   │ 4       │
│ 4   │ education      │           │ basic.4y │        │ unknown   │ 8       │
│ 5   │ default        │           │ no       │        │ yes       │ 3       │
│ 6   │ housing        │           │ no       │        │ yes       │ 3       │
│ 7   │ loan           │           │ no       │        │ yes       │ 3       │
│ 8   │ contact        │           │ cellular │        │ telephone │ 2       │
│ 9   │ month          │           │ apr      │        │ sep       │ 10      │
│ 10  │ day_of_week    │           │ fri      │        │ wed       │ 5       │
│ 11  │ duration       │ 258.285   │ 0        │ 180.0  │ 4918      │         │
│ 12  │ campaign       │ 2.56759   │ 1        │ 2.0    │ 56        │         │
│ 13  │ pdays          │ 962.475   │ 0        │ 999.0  │ 999       │         │
│ 14  │ previous       │ 0.172963  │ 0        │ 0.0    │ 7         │         │
│ 15  │ poutcome       │           │ failure  │        │ success   │ 3       │
│ 16  │ emp.var.rate   │ 0.0818855 │ -3.4     │ 1.1    │ 1.4       │         │
│ 17  │ cons.price.idx │ 93.5757   │ 92.201   │ 93.749 │ 94.767    │         │
│ 18  │ cons.conf.idx  │ -40.5026  │ -50.8    │ -41.8  │ -26.9     │         │
│ 19  │ euribor3m      │ 3.62129   │ 0.634    │ 4.857  │ 5.045     │         │
│ 20  │ nr.employed    │ 5167.04   │ 4963.6   │ 5191.0 │ 5228.1    │         │
│ 21  │ y              │           │ no       │        │ yes       │ 2       │

In [18]:
describe(df)

21×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable       │ mean      │ min      │ median │ max       │ nunique │
│     │ Symbol         │ Union…    │ Any      │ Union… │ Any       │ Union…  │
├─────┼────────────────┼───────────┼──────────┼────────┼───────────┼─────────┤
│ 1   │ age            │ 40.0241   │ 17       │ 38.0   │ 98        │         │
│ 2   │ job            │           │ admin.   │        │ unknown   │ 12      │
│ 3   │ marital        │           │ divorced │        │ unknown   │ 4       │
│ 4   │ education      │           │ basic.4y │        │ unknown   │ 8       │
│ 5   │ default        │           │ no       │        │ yes       │ 3       │
│ 6   │ housing        │           │ no       │        │ yes       │ 3       │
│ 7   │ loan           │           │ no       │        │ yes       │ 3       │
│ 8   │ contact        │           │ cellular │        │ telephone │ 2       │
│ 9   │ month          │           │ apr      │        │ sep       │ 10      │
│ 10  │ day_of_week    │           │ fri      │        │ wed       │ 5       │
│ 11  │ duration       │ 258.285   │ 0        │ 180.0  │ 4918      │         │
│ 12  │ campaign       │ 2.56759   │ 1        │ 2.0    │ 56        │         │
│ 13  │ pdays          │ 962.475   │ 0        │ 999.0  │ 999       │         │
│ 14  │ previous       │ 0.172963  │ 0        │ 0.0    │ 7         │         │
│ 15  │ poutcome       │           │ failure  │        │ success   │ 3       │
│ 16  │ emp.var.rate   │ 0.0818855 │ -3.4     │ 1.1    │ 1.4       │         │
│ 17  │ cons.price.idx │ 93.5757   │ 92.201   │ 93.749 │ 94.767    │         │
│ 18  │ cons.conf.idx  │ -40.5026  │ -50.8    │ -41.8  │ -26.9     │         │
│ 19  │ euribor3m      │ 3.62129   │ 0.634    │ 4.857  │ 5.045     │         │
│ 20  │ nr.employed    │ 5167.04   │ 4963.6   │ 5191.0 │ 5228.1    │         │
│ 21  │ y              │           │ no       │        │ yes       │ 2       │

In [29]:
#Check for consistencies with the column names
first(df, 15)

15×21 DataFrame. Omitted printing of 16 columns
│ Row │ age   │ job         │ marital  │ education           │ default │
│     │ Int64 │ String      │ String   │ String              │ String  │
├─────┼───────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1   │ 56    │ housemaid   │ married  │ basic.4y            │ no      │
│ 2   │ 57    │ services    │ married  │ high.school         │ unknown │
│ 3   │ 37    │ services    │ married  │ high.school         │ no      │
│ 4   │ 40    │ admin.      │ married  │ basic.6y            │ no      │
│ 5   │ 56    │ services    │ married  │ high.school         │ no      │
│ 6   │ 45    │ services    │ married  │ basic.9y            │ unknown │
│ 7   │ 59    │ admin.      │ married  │ professional.course │ no      │
│ 8   │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 9   │ 24    │ technician  │ single   │ professional.course │ no      │
│ 10  │ 25    │ services    │ single   │ high.school         │ no      │
│ 11  │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 12  │ 25    │ services    │ single   │ high.school         │ no      │
│ 13  │ 29    │ blue-collar │ single   │ high.school         │ no      │
│ 14  │ 57    │ housemaid   │ divorced │ basic.4y            │ no      │
│ 15  │ 35    │ blue-collar │ married  │ basic.6y            │ no      │

In [30]:
#Check the names of all the columns and check for inconsistency
names(df)

21-element Array{String,1}:
 "age"
 "job"
 "marital"
 "education"
 "default"
 "housing"
 "loan"
 "contact"
 "month"
 "day_of_week"
 "duration"
 "campaign"
 "pdays"
 "previous"
 "poutcome"
 "emp.var.rate"
 "cons.price.idx"
 "cons.conf.idx"
 "euribor3m"
 "nr.employed"
 "y"

In [36]:
#Check for missing values in the dataset
df1 = CSV.File("bank-additional-full.csv", missingstrings=["NA", "na", "n/a", "missing"]) |> DataFrame

41188×21 DataFrame. Omitted printing of 16 columns
│ Row   │ age   │ job         │ marital  │ education           │ default │
│       │ Int64 │ String      │ String   │ String              │ String  │
├───────┼───────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1     │ 56    │ housemaid   │ married  │ basic.4y            │ no      │
│ 2     │ 57    │ services    │ married  │ high.school         │ unknown │
│ 3     │ 37    │ services    │ married  │ high.school         │ no      │
│ 4     │ 40    │ admin.      │ married  │ basic.6y            │ no      │
│ 5     │ 56    │ services    │ married  │ high.school         │ no      │
│ 6     │ 45    │ services    │ married  │ basic.9y            │ unknown │
│ 7     │ 59    │ admin.      │ married  │ professional.course │ no      │
│ 8     │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 9     │ 24    │ technician  │ single   │ professional.course │ no      │
│ 10    │ 25    │ services    │ single   │ high.school         │ no      │
⋮
│ 41178 │ 57    │ retired     │ married  │ professional.course │ no      │
│ 41179 │ 62    │ retired     │ married  │ university.degree   │ no      │
│ 41180 │ 64    │ retired     │ divorced │ professional.course │ no      │
│ 41181 │ 36    │ admin.      │ married  │ university.degree   │ no      │
│ 41182 │ 37    │ admin.      │ married  │ university.degree   │ no      │
│ 41183 │ 29    │ unemployed  │ single   │ basic.4y            │ no      │
│ 41184 │ 73    │ retired     │ married  │ professional.course │ no      │
│ 41185 │ 46    │ blue-collar │ married  │ professional.course │ no      │
│ 41186 │ 56    │ retired     │ married  │ university.degree   │ no      │
│ 41187 │ 44    │ technician  │ married  │ professional.course │ no      │
│ 41188 │ 74    │ retired     │ married  │ professional.course │ no      │

UndefVarError: UndefVarError: isna not defined